
body { 
    background-image: url(https://images.pexels.com/photos/3293148/pexels-photo-3293148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 
}
.navbar-brand {
    background-color: lightgreen
}
.row-4 {
    margin-top: 20px;
}
.row-5 {
    margin-top: 20px;
}
.img {
    height: 350px; width: 350px
}
.card {
    margin-top: 100px
}   
.card-header {
    font-size: 40px; 
    font-weight: bolder; 
    color: rgb(54, 199, 151); 
    background-color: white;
}
.card-body {
    background-color: white
}  
.float-left {
    padding-right: 10px;
}
.card-text {
    text-overflow: ellipsis;
}